# Environnement virtuel
venv/
.env/

# Streamlit cache
.streamlit/

# Fichiers temporaires ou secrets
*.log
*.env
__pycache__/
*.pyc

# Données et fichiers temporaires
*.csv
*.xlsx
*.DS_Store
